
.container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.container::before{
    display: none;
}
.buttons{
    display: flex;
    margin-top: 10px;
    width: 100%;
    
}

.buttons button{
    margin-right: 10px;
}
.glyphicon-remove{
    
    cursor: pointer;
}

